<div class="container">
    <div id="unfinishedJobs">



        <!--JUMBOTRON-->
        <!-- Jumbotron -->
        <div class="jumbotron text-center adminHomeMenu" style="background-color:white">

            <!-- Title -->
            <h2 class="card-title h2">Here are all the jobs marked as unfinished.</h2>


            <!-- Grid row -->
            <div class="row d-flex justify-content-center">

                <!-- Grid column -->
                <div class="col-xl-7 pb-2">

                    <p class="card-text">
                       Once you have entered all the hours worked on a joborder mark a job as finished and you will be able to review the stats.

                    </p>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

            <hr class="my-4">

            <div class="pt-2">


                <!--If there-->
                



            </div>
        </div>


        



        <!--Only show this table if there are unfinished orders-->
  <div class="card-body p-0" v-if="allOrdersCurrentlyFinished==false">
            
    <table class="table-hover table pointer">
      
        <thead>
            <tr>
                <th>Job Order Number</th>
                <th>Customer</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Total Cost</th>            
                <th>Required By</th>
                <th>Mark As Finished</th>
            </tr>
        </thead>
        <tbody>

            <tr v-for="joborder of displayJobs">
                <td>#{{joborder.job_order_number}}</td>
                <td>{{joborder.customer_name}}</td>
                <td>{{joborder.product_name}}</td>
                <td>{{joborder.quantity}}</td>
                <td>€{{computeTotalCost(joborder.product_price , joborder.quantity)}}</td>
                <td>{{joborder.required_by}}</td>

                <td><button type="button" v-on:click="joborderComplete(joborder.job_orders_id)" class="btn btn-success">Completed </button></td>
                


                </tr>
                </tbody>
        </table>
        <div class="card-footer">
            <ul class="pagination m-0">
                <li v-for="i in pageCount" class="page-item" v-on:click="selPage=i-1"  v-bind:class="{active : selPage==i-1}">
                    <a class="page-link hand">{{i}}</a>
                </li>
            </ul>
        </div>




    </div>
    <div v-else class="text-center">
     
            
            <h3>All orders allOrdersCurrentlyFinished</h3>
        
        
        
           
    </div>
    






















</div>



<script src="./client/unfinishedOrders.js"></script>
</div>